

<div id="confirmation" >

<h2>CONFIRMANOS QUE VIENES</h2>
	<div class="message success" *ngIf="status == 'success'" >
		Confirmación guardada 
		
	</div>

	<div class="message failed" *ngIf="status == 'failed'">
		La confirmación NO se ha guardado 
	</div>

<form #inviteForm = "ngForm" (ngSubmit)="onSubmit(inviteForm)">


		
			<label for="firstname">Nombre*</label>
			<input type="text" name="firstname" #firstname="ngModel" [(ngModel)]="invite.firstname" required />
			<span class="form_error" *ngIf="firstname.touched && !firstname.valid" >
				El nombre es obligatorio
			</span>
		
			<label for="lastname">Apellido</label>
			<input type="text" name="lastname" #lastname="ngModel" [(ngModel)]="invite.lastname"  />	
		
			<label for="email">Email*</label>
			<input type="email" name="email" #email="ngModel" [(ngModel)]="invite.email"required />
			<span class="form_error" *ngIf="email.touched && !email.valid">
				El email es obligatorio
			</span>
		
			<label for="intolerances">¡ Si tienes intolerancias, háznoslo saber !</label>
			<textarea name="intolerances" #intolerances="ngModel" [(ngModel)]="invite.intolerances" ></textarea>
	
		
		  <label for="coming">Asistencia</label>   
		  <label class = "radio"for="yes">
		  <input type="radio"  name="coming" #coming="ngModel" [(ngModel)]="invite.coming" value=true  checked="true"> Nos vemos en la boda :)  
			</label>     
  		  <label class = "radio" for="no">
  		  <input type="radio"  name="coming"  #coming="ngModel" [(ngModel)]="invite.coming" value=false > No podré asistir :( </label>
  	
		
		 <input type="submit"  value="¡Confirma asistencia!" [disabled]="!inviteForm.form.valid" />

		 

	</form>
</div>