
<section class="location">
            <h2 class = "title_ubica">UBICACIóN</h2>
			
             <div class="img_location" >
            	<!--<img src="assets/img/ceremonia.jpg"  controls alt="ceremonia" class="info__img" >-->
            </div>
            <div class="maps">
             <a><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2981.0465570972638!2d-0.877862085063696!3d41.654736087342485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5914f25cb8507f%3A0xaba49c6135a26da6!2sCathedral%20of%20the%20Savior%2C%2050001%20Zaragoza!5e0!3m2!1ses!2ses!4v1612295209787!5m2!1ses!2ses" width="350" height="260" frameborder="0" style="border:2px solid;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>    </a> 
           
             
             <a ><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2980.721358227653!2d-0.8909696850634744!3d41.66176198690464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5914be7d4c6721%3A0xd34285a3d9186535!2sAura%20Restaurante!5e0!3m2!1ses!2ses!4v1612295329401!5m2!1ses!2ses" width="350" height="260" frameborder="0" style="border:2px solid;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></a>
             
             
            </div> 
  <router-outlet></router-outlet>       
</section>

