
<div id="home">

<div class="timer">

<p class="unit">
	<strong>{{time.days}}</strong>
	<span>Dias</span>
</p>

<p class="unit">
	<strong>{{time.hours}}</strong>
	<span>Horas</span>
</p>
<p class="unit">
	<strong>{{time.minutes}}</strong>
	<span>Minutos</span>

</p>
<p class="unit">
	<strong>{{time.seconds}}</strong>
	<span>Segundos</span>
</p>

</div>
</div>