@font-face{

	font-family : "BelleRose";
	src: url("fonts/BelleRose.ttf");

}
@font-face{

	font-family : "GatsbyInline";
	src: url("fonts/GatsbyInline.ttf");

}
@font-face{

	font-family : "Mali";
	src: url("fonts/Mali.ttf");

}
@font-face{

	font-family : "Winkle-Regular";
	src: url("fonts/Winkle-Regular.ttf");

}



/*Generales*/
*{
	margin:0px;
	padding:0px;
}

body{

	font-family:"GatsbyInline";
	font-size:18px;
	background: white;
	/*background: url("../img/pattern.jpg");*/
	background-attachment: fixed; 

}

.clearfix{
	float:none;
	clear:both;
}

/*Barra navegación/ header */
header{
	justify-content:space-between;
	font-family:"BelleRose";
	text-transform: uppercase;
	background: white;
	width: 100%;
}

header ul {
	display: block;
	
	height: inherit;
	margin: 0px auto;	
	padding-top:0.5em;
}

 .topnav {
 	
    overflow: hidden;
    background-color: black;

    
  } 

  .topnav a {
    float: left;
    display: flex;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    display:block;
	padding-right:15px;
	padding-left: 15px;
	height: inherit;
	text-decoration:none;
	color:white;
	transition: all 30ms;
    
  }

header ul{

	display: block;
	width: 100%;
	height: inherit;
	margin: 0px auto;
	text-align: center;	


}

header ul li{

	display:inline-block;
	margin:0px auto;
	text-align: center;
	line-height: 40px;

}


.topnav a:hover,
.actived {
    background-color: #333133;
    color: white;
  } 

 /*logotipo*/
 #logo{

 	padding-right:300px;
 	
}
 #logo a{

 	transition:color 500ms,transform 500ms;
 }

 .topnav #logo a:hover{
 	background:transparent;
 	color: white;
 	transform:scale(1.50,1.50);
 }

  
  @media screen and (max-width: 600px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 100%) {
     .topnav.responsive {position: relative;} 
     .topnav.responsive .icon {
      position: right;
      right: 0;
      top: 0; 
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
 /*home principal */
@media screen and (min-width: 300px) {

#home{

	min-height: 500px;
	width: 100%;
	background: url("../img/portada.jpg");
	padding-top: 140px;
	box-shadow: 0px 0px 1px black;
	

}

/*home */
.timer{
	display:flex;
	color:white;
	padding-left:60px;
	padding-top: 320px;

}

.timer .unit{
	padding: 5px;
	font-family:"Mali";
	border: 5px solid #9b7e26;
	background-color: black;
	border-radius: 5px;
	padding:10px;
	font-size: 18px;

}

.timer .unit strong {
	display:block;
	font-size: 18px;
	font-family:"Mali";
	text-align: center;
	border-radius: 50px;
	border: 2px solid #9b7e26;
}

}

/*Nuestra historia^*/
#story {
	min-height: 620px;
	height: auto;
	width: 100%;
	box-shadow: 0px 0px 10px black;
	background: url("../img/story_fondo.jpg");
	padding-top: 35px;

}

h2{
	margin:0px auto;
	padding-top: 10px;
	text-align:center;
	text-transform: uppercase;
	font-family:"Winkle-Regular";
	font-size: 35px;
	text-decoration-line: underline overline;
	text-decoration-color: white;
	color: white;

}


/*Te interesa*/
.info {
	min-height: 800px;
	height: auto;
	width: 100%;
	margin:0px auto;
	padding-top: 30px;
	box-shadow: 0px 0px 10px black;
	background: url("../img/fondodorado.jpg");
	text-align:center;
	text-transform: uppercase;
	font-family:"Winkle-Regular";
	font-size: 30px;
	text-decoration-line: underline overline;
	display:grid;
}

/*Nuestros deseos*/

.wishes{
	background: url("../img/wishes_fondo.jpg");
    min-height: 740px;

}
.wishes_grid{

	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));  	
    max-width:70%;
}


.title_wishes{
	
	margin:0px auto;
	padding-top: 10px;
	text-align:center;
	text-transform: uppercase;
	font-family:"Winkle-Regular";
	font-size: 35px;
	text-decoration-line: underline overline;
	text-decoration-color: white;
	color: white;

}



.title__h3{
	
	font-size: 18px;
	font-family:"Mali";
	color: white;
	text-align: center;
	padding-top:15px;

}

p {
	
	color:white;
	font-size: 20px;
	font-family:"Mali";
	padding-left: 20px;
	text-align:center;
}




@media screen and (min-width: 200px ) {
.wish__img{

	 transition: 
        transform 700ms cubic-bezier(.5, 0, .5, 1),
        opacity 500ms linear;      
        width: 90%;
        max-width:100%;
        border-radius: 15px;
        padding-bottom: 10px; 
        padding-top: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
	
   /* padding: 5px;
    width:30%;
	height:200px;
	 display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    padding: 20px;
    */
	
}

}




/*Ubicación*/
.location {
	min-height: 700px;
	height: auto;
	width: 100%;
	margin:0px auto;
	box-shadow: 0px 0px 10px black;
	background: url("../img/ceremonia.jpg");

	
	
}
.title_ubica {
	text-align:center;
	/*text-transform: uppercase;*/
	font-family:"Winkle-Regular";
	font-size: 35px;
	text-decoration-line: underline overline;
	padding-top: 50px;
}

.maps{
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
	margin-left: 250px;
	padding-right: 70px;
	margin-top: 350px;
	
}



/*confirmation*/

#confirmation {
	min-height: 600px;
	height: auto;
	width: 100%;
	box-shadow: 0px 0px 10px black;
	background: url("../img/confirma_fondo1.jpg");
	padding-top: 35px;

}

#confirmation h2{
	margin:0px auto;
	padding-top: 10px;
	text-align:center;
	text-transform: uppercase;
	font-family:"Winkle-Regular";
	font-size: 35px;
	text-decoration-line: underline overline;
	text-decoration-color: white;
	color: white;

}


form{
	width: 27%;
	padding-top: 5px;
	padding-left: 15px;
	font-family:"BelleRose";
	font-size: 15px;
	color: black;
	border: 2px solid #9b7e26;
	margin-top: 30px;
	margin-left: 560px;
	background-color: rgba(229, 229, 223, 0.7);

}

form label {
	font-size: 15px;
	display: block;
	width: 80%;
	margin-top: 5px;

	
	
}

form input[type="text"],
form input[type="email"],
form textarea{
	width: 40%;
	padding: 5px;
	border: 2px solid #9b7e26;
	background-color: rgba(229, 229, 223, 0.8);
	
	padding:5px;
}

.radio {
	width: 70%;
	padding: 5px;
	margin-bottom: 10px;
	
}

form textarea{
	width: 80%;
	padding: 5px;
	border: 2px solid #9b7e26;
	
}


form button,
form input[type="submit"]{
	font-size: 18px;
	font-family:"BelleRose";
	color: black;
	background :#9b7e26;
	border: 1px solid black;
	cursor: pointer;
	border-radius: 10px;
	display:inline-block;
	margin-left:50px;
	margin-bottom: 10px;
}

form button:hover,
form input[type="submit"]:hover{
	background : #9b7e26;
	border: 1px solid #9b7e26;
	cursor: pointer;
}

form input[disabled]{
	cursor:not-allowed;
	opacity:0.4;
}

.form_error{
	font-size: 14px;
	padding: 2px;
	background: red;
	color: black;
}

.message{
	width: 40%;
	padding: 5px;
	border:1px solid #eee;
	font-family:"BelleRose";
	font-size: 13px;

}

.success{
	margin-left: 1000px;
	width: 10%;
	background: #4DC14D;
	color: black;
	margin-top: 10px;
}


.failed{
	margin-top: 10px;
	width: 10%;
	margin-left: 80%;
	background: #C03221;
	color: white;
}

/*footer*/

.footer {
    background: #111;
    color: grey;
    text-align: center;
    padding: 15px;
    font-size: 15px;
    max-width: 100%;
    font-family:"Mali";
    opacity:0.8;
}
