
<header>
 <nav class="topnav" id="myTopnav">
<ul id= "dorado">
  <li id="logo"><a ><img src="assets/img/logo.jpg"  controls alt="logo" class="info__img" ></a></li>-->
  <li><a [routerLink]="['/inicio']" [routerLinkActive]="['actived']">INICIO</a></li>
 <li><a [routerLink]="['/nuestra-historia']" [routerLinkActive]="['actived']">NUESTRA HISTORIA</a></li>
  <li><a [routerLink]="['/te-interesa']"[routerLinkActive]="['actived']">TE INTERESA</a></li>
 
  <li><a [routerLink]="['/nuestros-deseos']"[routerLinkActive]="['actived']">NUESTROS DESEOS</a></li>
   <li><a [routerLink]="['/ubicacion']"[routerLinkActive]="['actived']">UBICACIÓN</a></li>
   <li><a [routerLink]="['/confirmanos-vienes']"[routerLinkActive]="['actived']">CONFIRMANOS QUE VIENES</a></li>
   

 </ul>
</nav>               
  </header>

<router-outlet></router-outlet>

<!-- Footer -->
        <footer class="footer">
            <h3>© 2021. María & Raúl by Yol</h3>  
            
        </footer>
