


<section class="wishes">
            <h2 class= "title_wishes">NUESTROS DESEOS</h2>

			
             <div class="wishes_grid" >
             
             <a><h3 class="title__h3">Luna de miel</h3>
             <p class="number">{{numberOfLikesL}}
             <button type="button" class="btn btn-info btn-sm" (click)="likeButtonClickLuna()"> <span class="glyphicon glyphicon-thumbs-up"></span> Like</button></p>
             <img src="assets/img/vegas.jpg" class="wish__img" controls alt=""  >
             </a> 
            
             <a><h3 class="title__h3">Aspiradora para Billy</h3>
             <p class="number">{{numberOfLikesBilly}}
            <button type="button" class="btn btn-info btn-sm" (click)="likeButtonClickBilly()"> <span class="glyphicon glyphicon-thumbs-up"></span> Like</button></p>
             <img src="assets/img/billy.jpg" class="wish__img" controls alt=""  >  
             </a>  

              <a><h3 class="title__h3">Trimestral</h3>
            <p class="number">{{numberOfLikesT}}
            <button type="button" class="btn btn-info btn-sm" (click)="likeButtonClickTrimestral()"> <span class="glyphicon glyphicon-thumbs-up"></span> Like</button></p>
            <img src="assets/img/ttrimestre.jpg" class="wish__img" controls alt="" >
 
             </a> 

             <a><h3 class="title__h3">Decibel Outdoor 2021</h3>
            <p class="number">{{numberOfLikesOutdoor}}
            <button type="button" class="btn btn-info btn-sm" (click)="likeButtonClickOutdoor()"> <span class="glyphicon glyphicon-thumbs-up"></span> Like</button></p>
             <img src="assets/img/decibel.jpg" class="wish__img" alt="transporte"  >
             
             </a>
            <a><h3 class="title__h3">Curso de Fotografia(María)</h3>
             <p class="number">{{numberOfLikesFoto}}
            <button type="button" class="btn btn-info btn-sm" (click)="likeButtonClickFoto()"> <span class="glyphicon glyphicon-thumbs-up"></span> Like</button></p>
            <img src="assets/img/foto.jpg" class="wish__img" alt=""  >

            </a>
            <a><h3 class="title__h3">Viaje maldivas</h3>
             <p class="number">{{numberOfLikesMaldivas}}
            <button type="button" class="btn btn-info btn-sm" (click)="likeButtonClickMaldivas()"> <span class="glyphicon glyphicon-thumbs-up"></span> Like</button></p>
            <img src="assets/img/maldivas.jpg"  class="wish__img" >

            </a>

            </div> 

 <router-outlet></router-outlet> 

</section>



 
 