

<section class="info">
            <h2 >TE INTERESA</h2>
			
             <div >
            	<!--<h3 class="skills__h3">Código de Vestimenta</h3>-->
             <a><img src="assets/img/vestimenta.jpg"  controls alt="transporte" class="info__img" ></a>     
             
             <a><img src="assets/img/transporte.jpg"  alt="transporte" class="info__img" ></a>
             <a><img src="assets/img/menu.jpg"  alt="menu" class="info__img" ></a>
             
            </div> 
  <router-outlet></router-outlet>       
</section>
